[submodule "FMB/testFoundry/lib/forge-std"]
	path = FMB/testFoundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FMB/testFoundry/lib/openzeppelin-contracts"]
	path = FMB/testFoundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
